.group-1 {
  align-items: flex-start;
  display: flex;
  height: 31px;
  justify-content: center;
  left: 0;
  min-width: 46px;
  position: absolute;
  top: 0;
}
.overlap-group6-3 {
  height: 32px;
  margin-top: -1px;
  position: relative;
  width: 48px;
}
.rectangle {
  background-color: var(--denim);
  border-radius: 5px;
  height: 27px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 48px;
}
.triangle {
  height: 9px;
  left: 15px;
  mix-blend-mode: normal;
  position: absolute;
  top: 23px;
  width: 18px;
}
