.bubble-2-1 {
  align-items: flex-start;
  display: flex;
  height: 31px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 46px;
}
.overlap-group4-7 {
  height: 31px;
  position: relative;
  width: 46px;
}
.title-11 {
  left: 10px;
  letter-spacing: 0;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}
