.bubble-2 {
  height: 70px;
  left: 107px;
  mix-blend-mode: normal;
  opacity: 0.01;
  pointer-events: auto;
  position: absolute;
  top: 86px;
  transition: all 0.2s ease;
  width: 46px;
}
.bubble-2:hover {

opacity: 1;
}
.oval-2 {
  background-color: var(--denim);
  border-radius: 5.5px;
  height: 11px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 11px;
}
.overlap-group7-4 {
  height: 30px;
  left: 18px;
  position: absolute;
  top: 41px;
  width: 11px;
}
.path-6-copy-4 {
  height: 24px;
  left: 5px;
  mix-blend-mode: normal;
  position: absolute;
  top: 6px;
  width: 2px;
}
