.menu {
  align-items: flex-start;
  display: flex;
  height: 4px;
  justify-content: center;
  left: 223px;
  min-width: 20px;
  position: absolute;
  top: 15px;
}
.oval- {
  background-color: var(--white);
  border-radius: 3px;
  height: 6px;
  margin-left: 2px;
  margin-top: -1px;
  mix-blend-mode: normal;
  width: 6px;
}
.oval-1-2 {
  background-color: var(--white);
  border-radius: 3px;
  height: 6px;
  margin-top: -1px;
  mix-blend-mode: normal;
  width: 6px;
}
